include *.txt
include README.md
include pyproject.toml

prune .github
prune *.egg-info

exclude .coveragerc
exclude .gitignore
exclude .isort.cfg
exclude .pre-commit-config.yaml
exclude *.yml
exclude cc_plugin_glider/_version.py
