name: Full Tests

# no permissions by default
permissions: {}

on:
  pull_request:
  push:

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ "3.9", "3.10", "3.11", "3.12", "3.13" ]
        os: [ windows-latest, ubuntu-latest, macos-latest ]
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Setup Micromamba Python ${{ matrix.python-version }}
      uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
      with:
        environment-name: TEST
        init-shell: bash
        create-args: >-
          python=${{ matrix.python-version }} pip
          --file requirements.txt
          --file requirements-dev.txt
          --channel conda-forge

    - name: Install plugin
      run: |
        python -m pip install -e . --no-deps --force-reinstall

    - name: Run tests
      run: |
        python -m pytest -rxs --pyargs cc_plugin_ugrid
